body {
  background-color: #080808;
  padding: 0;
  margin: 0;
}

header {
  height: 55px;
  padding-left: 20px;
  background-color: #1f1f1f;
  overflow: hidden;
  padding-top: 8px;
}


h1{
  color: #FFFFFF;
  padding-top:0
  border: 0;
}

p {
  color: rgb(255,255,255);
  font-size: 20px;
}

hr {
  margin-top: 30px;
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.memeimg img {
  width: 400px;
}

.memeimg p {
  font-size: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
}


.starttext h1 {
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.starttext p {
  font-size: 20px;
  margin-top: 2px;
  margin-bottom: 10px;
}

.paddingmain {
  padding-left: 1.5%;
}

.padbut {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #FFFFFF;
  font-size: 30px;
  margin-top: 30px;
  padding-left: 8px;
}


.img{
 padding-left: 10px;
}

.homebutton {
padding-left: 1vw;
font-size: 35px;
color: white;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 63px;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  font-size: 50px;
  padding-left: 28px;
}

.elmo {
  width: 500px;
}

#main {
  transition: margin-left .5s;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

footer {
  background-color: #1f1f1f;
  color: white;
  height: 100px;
  padding-top: 1px;
  padding-left: 1.5%;
  margin-top: 10px;
}

footer p {
  font-size: 20px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.footerlinks a{
  color: #AAAAAA;
}
